doctype
html(lang="zh-CN")
  include header
  body
    include ./navbar
    block content
    include ./footer
    block script
      script(src="./js/jquery.min.js")
      script(src="./js/bootstrap.min.js")
      script(src="./js/common.js")