
style.
	.a {
		width:100px;
		height:100px;
		background-color: red;
	}
	.b {
		height:80px;
		background-color: green;
		display: table-cell;
	}
	img {
		max-width:90%;
	}
block content
	.a
		.b
			a: img(src="images/yy01.png", alt="")
